h1, p {
    text-align: center;
}

.quiz-themes {
    display: flex;
    max-width: 1500px;
    margin: 50px auto;
    flex-wrap: wrap;
}



.stats {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -21.5px;
    background-color: lightblue;
    padding: 2px 15px;
    border-bottom-left-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .quiz-themes {
        flex-direction: column;
    }

    .quiz-theme {
        margin-left: 10px;
    }

    .stats {
        position: static;
        display: block;
        border-bottom-right-radius: 25px;
        text-align: center;
    }
}
