.delete-category {
    border: 1px solid black;
    background-color: rgb(160, 15, 33);
    position: fixed;
    width: 40%;
    height: 30vh;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-category-heading {
    color: white;
    text-transform: uppercase;
    font-size: 80px;
    margin: 0;
}

.delete-category-text {
    color: white;
}

.delete-category-image-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100px;
}

.delete-category-image-wrapper > img {
    height: 100%;
}

.delete-category-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.delete-category-button-wrapper button {
    padding: 12px 20px;
}

.delete-category-button-wrapper button:nth-child(1) {
    position: relative;
    right: 20px;
    background-color: red;
}

.delete-category-button-wrapper button:nth-child(2) {
    position: relative;
    left: 20px;
    background-color: green;
}

@media only screen and (max-width: 600px) {
    .delete-category {
        width: 50%;
        height: 60vh;
        top: 45%;
        left: 50%;
    }

    .delete-category-heading {
        font-size: 40px;
    }
}