.notification {
    position: fixed;
    top: 180px;
    right: 20px;
    border-radius: 12px;
    padding: 10px 90px;
    background-color: whitesmoke;
}

.notification.success {
    background-color: #6bd06b;
}

.notification.error {
    background-color: #f64b4b;
}

.notification.hidden {
    display: none;
}