body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* background-color: #6b400c; */
}


/* header component */

header {
    background-color: #f7931a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

header h1 {
    margin: 0;
    font-size: 42px;
    text-transform: uppercase;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav li {
    margin-right: 10px;
}

header nav li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 20px 0;
        flex-direction: column;
    }
    header ul {
        padding: 0;
    }
}


/* main component */

main {
    position: relative;
}

main h1 {
    text-align: center;
}

.quiz-themes {
    display: flex;
    max-width: 1500px;
    margin: 50px auto;
    flex-wrap: wrap;
}

.quiz-theme {
    margin-top: 40px;
    margin-right: 10px;
    flex-basis: 24.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: rgba(255, 255, 0, 0.297);
}

.quiz-theme img {
    margin-bottom: 20px;
    width: 128px;
}

.quiz-theme p {
    text-align: center;
    padding: 8px 0;
    margin: 8px 0;
    font-size: 26px;
    background-color: #6b400c;
    color: white;
    width: 100%;
}

.stats {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -21.5px;
    background-color: lightblue;
    padding: 2px 15px;
    border-bottom-left-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .quiz-themes {
        flex-direction: column;
    }
    .quiz-theme {
        margin-left: 10px;
    }
    .stats {
        position: static;
        display: block;
        border-bottom-right-radius: 25px;
        text-align: center;
    }
}


/* footer component */

footer {
    background-color: #f7931a;
}

.quiz {
    position: absolute;
    font-size: 600px;
    top: 100px;
    margin: 0;
    transform: rotate(12deg);
    color: rgba(0, 0, 0, 0.04)
}