header {
    background-color: #f7931a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

header h1 {
    margin: 0;
    font-size: 42px;
    text-transform: uppercase;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav li {
    margin-right: 10px;
}

header nav li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 20px 0;
        flex-direction: column;
    }
    header ul {
        padding: 0;
    }
}
